/* &display=swap */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

body {
	font-family: "lato", sans-serif;
	color: rgba(30, 33, 44, 1);
}

h1 {
	font-size: 46px;
	font-weight: 900;
	line-height: 1.3;
}

.text-1 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
}

.text-2 {
	color: rgba(66, 69, 81, 1);
	line-height: 1.6;
}

.text-3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
}

.text-4 {
	color: rgba(66, 69, 81, 1);
	line-height: 1.6;
}

.list {
	color: rgba(66, 69, 81, 1);
	line-height: 1.6;
	text-indent: 30px;
}

.text-5 {
	color: rgba(66, 69, 81, 1);
	line-height: 1.6;
}
